@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply bg-bg-main text-text-color
    }

    .active-nav {
        @apply decoration-4 underline underline-offset-8 text-text-color decoration-primary-color p-2
    }

    .btn {
        @apply ring-1 px-5 py-2 ring-primary-color rounded-sm hover:bg-primary-color hover:text-bg-component text-text-color transition-colors duration-100 active:scale-95 text-sm
    }

    .btn:disabled {
        @apply px-5 py-2 text-sm text-heading-color/80 transition-colors duration-100 bg-primary-color ring-0 outline-none
    }

    .error {
        @apply text-red-800 p-2 m-2.5 text-xs bg-pink-300 border-[1px] border-red-700 rounded-sm text-center
    }

    input {
        @apply text-sm rounded-lg block w-full px-1 py-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-text-color focus:ring-primary-color focus:border-primary-color
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: #d8d8d7;
        -webkit-box-shadow: 0 0 0px 1000px #384151 inset;
        box-shadow: 0 0 0px 1000px #384151 inset;
        transition: background-color 5000s ease-in-out 0s;
        color: white;
    }

    ::-ms-reveal {
        filter: invert(100%);
    }

}